.register__container {
  box-sizing: border-box;
  border-radius: 15px;
  max-width: 637px;
  margin: 40px auto;
  padding: 26px;
  background-color: #a9cbff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.register__title {
  color: #297fd0;
  text-align: center;
  margin: 0;
}

.register__description {
  color: #297fd0;
  text-align: center;
}

.register__fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 10px;
  border: none;
  margin: 0;
  padding: 0;
  color: #297fd0;
}

.register__name {
  display: flex;
  width: 100%;
  gap: 15px 10px;
}

.register__label {
  display: flex;
  position: relative;
  flex-direction: column;
}

.register__label_fname {
  width: 100%;
}

.register__label_lname {
  width: 100%;
}

.register__label_birthday {
  width: fit-content;
}
.register__inputs {
  height: 45px;
  width: 100%;
  color: #297fd0;
  padding: 5px 12px;
  margin-top: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  -webkit-appearance: none;
}

.register__inputs::-webkit-outer-spin-button,
.register__inputs::-webkit-inner-spin-button,
.register__inputs::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  opacity: 0;
}

.register__inputs::placeholder {
  color: #9cc6ed;
}

.register__info-container {
  display: flex;
  gap: 15px 10px;
}

.register__weight-container {
  display: flex;
  gap: 15px 10px;
  width: 100%;
}

.register__inputs_kilograms-pounds {
  width: 80px;
  text-align: center;
}
.register__inputs_kilograms-pounds::placeholder {
  color: #297fd0;
}

.register__inputs_ounces {
  width: 80px;
  text-align: center;
  box-sizing: border-box;
}

.register__inputs_ounces::placeholder {
  color: #297fd0;
}

.register__pounds-abbreviation {
  position: absolute;
  top: 52px;
  left: 57px;
  font-size: 14px;
}

.register__ounces-abbreviation {
  position: absolute;
  top: 52px;
  left: 152px;
  font-size: 14px;
}

.register__inputs_weight-type {
  width: 125px;
  -webkit-appearance: auto;
}

.register__inputs_birthday {
  width: 140px;
  padding: 5px 10px;
}

.register__calendar-icon {
  position: absolute;
  width: 15px;
  top: 36px;
  right: 12.5px;
  pointer-events: none;
}

.register__btn {
  height: 45px;
  width: 120px;
  margin: 0 auto;
  align-self: flex-end;
  border-radius: 5px;
  border-color: transparent;
  color: #e6f0fd;
  background-color: #297fd0;
  transition: background-color linear 0.3s;
}

@media screen and (max-width: 640px) {
  .register {
    width: 100vw;
  }

  .register__container {
    margin-top: 0;
    width: 100vw;
    height: calc(100vh - 29.8px - 48.59px);
    max-width: none;
    padding: 30px 25px 0;
    margin: 0;
  }

  .register__fieldset {
    width: fit-content;
  }
  .register__name {
    flex-wrap: wrap;
    justify-content: center;
  }
  .register__info-container {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .register__label {
    font-size: 14px;
  }

  .register__label_fname {
    width: 88.745vw;
  }

  .register__label_lname {
    width: 88.745vw;
  }

  .register__inputs {
    font-size: 12px;
  }

  .register__inputs_kilograms-pounds {
    width: 77.5px;
  }

  .register__inputs_ounces {
    width: 77.5px;
  }

  .register__pounds-abbreviation {
    top: 52px;
    left: 57px;
    font-size: 10px;
  }

  .register__ounces-abbreviation {
    top: 52px;
    left: 152px;
    font-size: 10px;
  }

  .register__inputs_weight-type {
    width: 105px;
  }

  .register__inputs_birthday {
    width: 120px;
    padding: 5px 10px;
  }

  .register__btn {
    margin: 0;
  }
}

@media screen and (max-width: 360px) {
  .register__container {
    padding: 30px 20px 0;
  }

  .register__label_fname {
    width: 100%;
  }

  .register__label_lname {
    width: 100%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .register__btn:hover {
    background-color: #2b99ff;
    cursor: pointer;
  }
}
